body {
  /* Prevent user from scrolling */
  overflow: hidden;
}

/* Center search section horizontally and vertically on the page */
.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.logo {
  font-size: 6.25rem;
  margin-bottom: 2px;
}
