body {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: -15px;
}

/* Center search section horizontally and vertically on the page */
.search-section {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 3.125rem;
  margin-right: 25px;
}

.results-section {
  display: flex;
  flex-direction: column;
  margin-left: 157px;
}

.result-section {
  display: flex;
  flex-direction: column;
}

.result-title {
  color: #dad7cd;
  margin-bottom: 4px;
}

.result-page-title {
  font-size: 1.0625rem;
  color: #a3b18a;
  margin-top: 0;
}
