body {
  background-color: #344e41;

  /* Prevent user from scrolling */
  overflow: hidden;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-bold {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
}

/* Center search section horizontally and vertically on the page */
.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.logo {
  font-size: 6.25rem;
  margin-bottom: 2px;
  color: #a3b18a;
}

.search-bar-section {
  display: flex;

  padding-top: 15px;
  padding-bottom: 15px;
}

.search {
  background-color: #3a5a40;
  color: #a3b18a;
  caret-color: #a3b18a;

  padding-left: 30px;
  padding-right: 700px;
  font-size: 1.25rem;
  border-radius: 3px;

  border: none;
  outline: none;
}

.search::placeholder {
  color: #588157;
}

.search-button {
  background-color: #3a5a40;
  color: #588157;

  padding-left: 15px;
  padding-right: 15px;
  font-size: 2.25rem;

  border-right: none;
  border-bottom: none;
  border-top: none;
  border-left: 3px solid #588157;
  box-sizing: border-box;
  outline: none;

  cursor: pointer;
}
