body {
    background-color: #344E41;
}

.logo {
    font-size: 100px;
    color: #A3B18A;
}

.search {
    background-color: #3A5A40;
    padding: 15px 700px 15px 10px;
    border: none;
    outline: none;
}

.search::placeholder {
    color: #588157;
}
