<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <title>Search Engine</title>
  </head>
  <body>
    <div class="search-section">
      <h1 class="logo alegreya-bold">title</h1>
      <!-- Run the `search_results` function in main.py on submission -->
      <form action="{{ url_for('search_results') }}" method="get">
        <input
          type="text"
          name="q"
          placeholder="search something?"
          autocomplete="off"
          class="search questrial-regular"
          required
        />
        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
